<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isAuth===true">
    <button ion-item *ngFor="let project of projects" (click)="getItemsByProject(project.Id)">
      {{project.Id}} {{ project.Content }}
    </button>
  </ion-list>

  <!-- <button ion-button (click)="refresh()">Default</button> -->

  <!-- <h3 *ngIf="isAuth===false">
    You are not sing in.
  </h3> -->



</ion-content>